@charset "UTF-8";

#skip {z-index:2;position:absolute;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;line-height:0;font-size:0;text-align: center;background:rgb(155, 146, 146);color: antiquewhite;}
#skip li a:focus {line-height:60px;font-size:20px;}
/* 질문 : 탭 눌렀을 때 밑에 검정 라인 없애고 싶어요 */

/* svg 아이콘 */
#icon-press {width:15px;height:auto;color:#fff;}
#icon-press .press0{fill:#fff;}


#wrap {z-index:1;position:relative;width:100%;margin:0 auto;}

#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:98px;}
#wrap #header.addHeader {background:rgba(0,0,0, .8);padding-bottom:15px;}
#wrap #header .wrap {width:1230px;height:78px;margin:0 auto;background:transparent;padding-top:20px;}
#wrap #header .wrap ul {width:100%;}
#wrap #header .wrap ul .left-wrap {float:left;width:310px;height:78px;}
#wrap #header .wrap ul .left-wrap a {display:block;padding-top:24px;color:#fff;}
#wrap #header .wrap ul .left-wrap a h2 {font-size:22.5px;font-weight:900;}
#wrap #header .wrap ul .left-wrap a h1 {font-size:32.5px;font-weight:900;}
#wrap #header .wrap ul .left-wrap a:hover h1 {text-decoration:underline;}

#wrap #header .wrap ul .right-wrap {float:left;width:890px;height:78px;}
#wrap #header .wrap ul .right-wrap #aside {width:100%;height:34px;text-align:right;}
#wrap #header .wrap ul .right-wrap #aside ul {display:inline-block;padding:6px 1px 6px 24px;}
#wrap #header .wrap ul .right-wrap #aside ul li {display:inline-block;height:26px;margin-left:25px;}
#wrap #header .wrap ul .right-wrap #aside ul li i {width:100%;color:#fff;}
#wrap #header .wrap ul .right-wrap #aside ul li a {font-size:14px;font-weight:300;color:#fff;}
#wrap #header .wrap ul .right-wrap #aside ul li a:hover {text-decoration:underline;}
#wrap #header .wrap ul .right-wrap #aside ul li a img {}

#wrap #header .wrap ul .right-wrap #nav {width:935px;height:47.375px;text-align:right;}
#wrap #header .wrap ul .right-wrap #nav ul {display:inline-block;}
#wrap #header .wrap ul .right-wrap #nav ul li {display:inline-block;}
#wrap #header .wrap ul .right-wrap #nav ul li a {display:block;font-size:24px;font-weight:300;padding:10px 20px 10px 20px;color:#fff;}
#wrap #header .wrap ul .right-wrap #nav ul li a:hover {text-decoration:underline;}
#wrap #header .wrap ul .right-wrap #nav ul li:last-child a.side-menu {position:relative;width:18px;height:14px;padding:0;}
#wrap #header .wrap ul .right-wrap #nav ul li:last-child a.side-menu .SMline {position:absolute;left:0;display:block;width:18px;height:2px;background:#fff;}
#wrap #header .wrap ul .right-wrap #nav ul li:last-child a.side-menu .SMline1 {top:0;}
#wrap #header .wrap ul .right-wrap #nav ul li:last-child a.side-menu .SMline2 {top:50%;margin-top:-1px;}
#wrap #header .wrap ul .right-wrap #nav ul li:last-child a.side-menu .SMline3 {bottom:0;}

#wrap #main   {z-index:2;position:relative;width:100%;background:#fff;}

/* 질문 : 이미지가 cover여서 css에 백그라운드로도 넣어봤는데 그럼 이미지들 사이에 여백이 생겨요 */
#wrap #main #section1 {width:100%;height:750px;background:transparent;overflow:hidden;}
#wrap #main #section1 .wrap {width:100%;height:100%;}
#wrap #main #section1 .wrap .slide-container {z-index:1;position:relative;width:100%;height:750px;}
#wrap #main #section1 .wrap .slide-container .slide-view {position:relative;width:1903px;height:750px;margin:0 auto;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap {position:relative;left:calc(-1903px*0);width:20933px;margin-left:-1903px;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide {float:left;width:1903px;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide img {z-index:1;position:relative;width:100%;margin-top:-135px;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide:nth-child(2):after {z-index:2;content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#252525;opacity:.3;}


#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide > div {z-index:3;position:relative;bottom:290px;width:1230px;margin:0 auto;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide > div  a {display:inline-block;;width:auto;height:120px;font-weight:300;color:#303132;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide > div  a  div {padding:20px 20px;background:#fff;width:auto;height:80px;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide > div  a  div h2 {display:inline-block;font-size:40px;line-height:44px;font-family:ModernMTStd_Extended, Times;}
#wrap #main #section1 .wrap .slide-container .slide-view .slide-wrap .slide > div  a  div h4  {text-align:left;font-size:20px;line-height:normal;}
/* 위치를 못잡고 있어요ㅜㅜ */


#wrap #main #section1 .wrap .slide-container .nextBtn-wrap {z-index:2;position:absolute;top:50%;right:40px;width:24px;height:27px;}
#wrap #main #section1 .wrap .slide-container .nextBtn-wrap a.nextBtn {display:block;width:24px;height:27px;background:transparent;}
#wrap #main #section1 .wrap .slide-container .nextBtn-wrap a.nextBtn i {display:block;width:15px;height:15px;border-top:1px solid #fff;border-right:1px solid #fff;transform:rotate(45deg);}

#wrap #main #section1 .wrap .slide-container .prevBtn-wrap {z-index:2;position:absolute;top:50%;left:40px;width:24px;height:27px;}
#wrap #main #section1 .wrap .slide-container .prevBtn-wrap a.prevBtn {display:block;width:24px;height:27px;background:transparent;}
#wrap #main #section1 .wrap .slide-container .prevBtn-wrap a.prevBtn i {display:block;width:15px;height:15px;border-top:1px solid #fff;border-left:1px solid #fff;transform:rotate(-45deg);}


#wrap #main #section1 .wrap .slide-container .page-wrap {z-index:3;position:absolute;bottom:40px;left:1500px;width:100%;}
#wrap #main #section1 .wrap .slide-container .page-wrap li {display:inline-block;}
#wrap #main #section1 .wrap .slide-container .page-wrap li div {margin:0 5px;}
/* 여기부터 수정 0000000000000000000000000000000000 */
#wrap #main #section1 .wrap .slide-container .page-wrap li div a.pause-play-btn {display:block;width:12px;height:12px;background:url(../img/main_prom_stop.png) no-repeat 50% 50%;background-size:12px 12px;}
#wrap #main #section1 .wrap .slide-container .page-wrap li div a.page-btn {display:block;width:12px;height:12px;background:url(../img/main_prom_off.png) no-repeat 50% 50%;background-size:12px 12px;}


#wrap #main #section2 {width:1290px;background:transparent;margin:0 auto;}
#wrap #main #section2 .wrap {width:1240px;height:auto;padding:20px 25px;}
#wrap #main #section2 .wrap .text {width:100%;}
#wrap #main #section2 .wrap .text .left {float:left;width:610px;height:48px;}
#wrap #main #section2 .wrap .text .left h1 {font-size:40px;font-style:normal;font-weight:300;line-height:48px;font-family:ModernMTStd_Extended, Times;color:rgb(48,49,50);}

/* 글씨들 배치가 제각각이예요 */
#wrap #main #section2 .wrap .text .right {float:right;}
#wrap #main #section2 .wrap .text .right span {display:inline-block;padding:8px 0 8px 24px;}
#wrap #main #section2 .wrap .text .right span a {color:rgb(27,27,27);font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:21px;}
#wrap #main #section2 .wrap .text .right span:first-child a {font-weight:500;text-decoration:underline;}
#wrap #main #section2 .wrap .text .right span a:hover {font-weight:500;text-decoration:underline;}

#wrap #main #section2 .wrap .img {width:100%;}
#wrap #main #section2 .wrap .img ul {width:100%;}
#wrap #main #section2 .wrap .img ul li {float:left;width:25%;}
#wrap #main #section2 .wrap .img ul li a {display:block;margin:0 5px;}
#wrap #main #section2 .wrap .img ul li a div:nth-child(1) {float:left;width:270px;}
#wrap #main #section2 .wrap .img ul li a div:nth-child(1) img {width:100%;}
#wrap #main #section2 .wrap .img ul li a div:nth-child(2) {position:relative;float:left;width:30px;height:213px;border:1px solid #ddd;box-sizing:border-box;}
#wrap #main #section2 .wrap .img ul li a div:nth-child(2) span {display:block;position:absolute;bottom:110px;left:-85px;width:200px;transform:rotate(-90deg);font-weight:600;color:#444;}


/* 
#wrap #main #section2 .wrap .img {width:1230px;}
#wrap #main #section2 .wrap .img > div {display:inline-block;}
#wrap #main #section2 .wrap .img > div > a {position:relative;display:block;width:268px;height:212.609px;border:1px solid #e6e6e6;padding-right:30px;text-align:center;margin-right:3px;}
#wrap #main #section2 .wrap .img > div > a > img {display:block;width:267px;height:212.609px;}
#wrap #main #section2 .wrap .img > div > a > p {position:absolute;right:0;bottom:50px;display:inline-block;transform:rotate(270deg);color:rgb(27,27,27);font-size:14px;font-weight:700;font-family:Helvetica,Arial,sans-serif;}
#wrap #main #section2 .wrap > p {display:block;width:1230px;height:1px;background:rgb(135,135,135);margin-top:30px;} */

/* 이미지 사이 여백 */
#wrap #main #section3 {width:1290px;/* 임시높이 */height:700px;margin:0 auto;}
#wrap #main #section3 .wrap {width:1230px;padding:0 30px;}
#wrap #main #section3 .wrap h3 {width:100%;color:rgb(48,49,50);display:block;font-family:ModernMTStd_Extended, Times;font-size:31px;font-weight:300px;line-height:37.2px;padding-bottom:16px;text-align:center;}
#wrap #main #section3 .wrap .s3-img-wrap {width:1230px;height:706.250px;}
#wrap #main #section3 .wrap .s3-img-wrap > span  {display:inline-block;}
#wrap #main #section3 .wrap .s3-img-wrap > span > a {display:block;width:610px;p}
#wrap #main #section3 .wrap .s3-img-wrap > span > a > object {width:100%;}
#wrap #main #section3 .wrap .s3-img-wrap > span > a > img {width:100%;}



#wrap #main #section4 {width:1290px;/* 임시높이 */height:550px;background:#ddd;margin:0 auto;}
#wrap #main #section4 .wrap {width:1230px;padding:20px 30px;}
#wrap #main #section5 {width:1290px;/* 임시높이 */height:400px;background:#eee;margin:0 auto;}
#wrap #main #section5 .wrap {width:1230px;padding:20px 30px;}
#wrap #main #section6 {width:1290px;/* 임시높이 */height:300px;background:#ddd;margin:0 auto;}
#wrap #main #section6 .wrap {width:1230px;padding:20px 30px;}

#wrap #footer {z-index:1;position:relative;width:100%;height:175px;background:#fff;padding:80px 0 40px;}
#wrap #footer .wrap {width:1230px;height:175px;padding:0 5px;box-sizing:border-box;margin:0 auto;text-align:center;}
#wrap #footer .wrap .row1 {width:100%;}
#wrap #footer .wrap .row1 ul {width:100%;}
#wrap #footer .wrap .row1 ul li {display:inline-block;width:14px;height:19px;padding:5px 10px;box-sizing:border-box;}
#wrap #footer .wrap .row1 ul li:hover {}
#wrap #footer .wrap .row1 ul li a {display:inline-block;line-height:16px;}
#wrap #footer .wrap .row1 ul li a:hover {background-color:rgba(238,238,238, .5);}
#wrap #footer .wrap .row1 ul li a img {/* 임시이미지 */width:19px;height:19px;}

#wrap #footer .wrap hr {width:1230px;height:0;border-bottom:1px solid #e6e6e6;margin:20px 0;display:block;}

#wrap #footer .wrap .row2 {width:100%;}
#wrap #footer .wrap .row2 ul {width:100%;margin-bottom:16px;}
#wrap #footer .wrap .row2 ul li {width:100%;text-align:center;}
#wrap #footer .wrap .row2 ul li span {font-size:12px;box-sizing:border-box;margin:0 auto;display:inline-block;line-height:19.2px;}
#wrap #footer .wrap .row2 ul li span br {display:block;}


#wrap #footer .wrap .row3 {width:100%;}
#wrap #footer .wrap .row3 ul {width:100%;}
#wrap #footer .wrap .row3 ul li {width:100%;}
#wrap #footer .wrap .row3 ul li span {display:inline-block;}
#wrap #footer .wrap .row3 ul li span a {font-size:14px;}
#wrap #footer .wrap .row3 ul li span a:hover {text-decoration:underline;}
#wrap #footer .wrap .row3 ul li span i {margin:0 10px;}
