@charset "UTF-8";

#wrap {width:100%;margin:0 auto;}
#wrap #header {z-index:2;position:absolute;top:0;left:0;;width:1232px;height:77.375px;padding:20px 34px 0;background:#eee;margin:0 301.500px;}

#wrap #main   {width:100%;background:#fff;}
#wrap #main #section1 {z-index:1;position:relative;width:100%;height:750px;background:rgba(238,238,238, .5);}
#wrap #main #section1 .slide-container {position:relative;width:100%;}
#wrap #main #section1 .slide-container .slide-view {position:relative;width:100%;height:750px;overflow:hidden;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {position:relative;left:calc(-1903px*0);width:calc(1903px*10);margin-left:-1903px;}

#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide00 {float:left;width:100%;background:url(../img/slide_00.jpg) no-repeat 50% 0;background-size:100% 100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide01 {float:left;width:100%;background:url(../img/slide_01.jpg) no-repeat 50% 0;background-size:100% 100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide02 {float:left;width:100%;background:url(../img/slide_02.jpg) no-repeat 50% 0;background-size:100% 100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide03 {float:left;width:100%;background:url(../img/slide_03.jpg) no-repeat 50% 0;background-size:100% 100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide04 {float:left;width:100%;background:url(../img/slide_04.jpg) no-repeat 50% 0;background-size:100% 100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide05 {float:left;width:100%;background:url(../img/slide_05.jpg) no-repeat 50% 0;background-size:100% 100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide06 {float:left;width:100%;background:url(../img/slide_06.jpg) no-repeat 50% 0;background-size:100% 100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap li.slide07 {float:left;width:100%;background:url(../img/slide_07.jpg) no-repeat 50% 0;background-size:100% 100%;}


#wrap #main #section2 {width:1230px;height:2631.220px;padding:20px 30px;background:#ddd;margin:0 auto;}

#wrap #footer {width:100%;height:175px;background:#eee;padding:80px 0 40px;}